.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #242424;
}

.wrapper {
    width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.slides {
    display: flex;
    width: 400%;
    height: 100%;
    transition: transform 1s ease;
}

.slide {
    width: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.caption {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.navigation-auto, .navigation-manual {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navigation-auto {
    bottom: 30px;
    display: none;
}

.navigation-manual {
    bottom: 10px;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.manual-btn:not(:last-child) {
    margin-right: 10px;
}

.manual-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

input[type="radio"] {
    display: none;
}

#radio1:checked ~ .slides {
    transform: translateX(0);
}

#radio2:checked ~ .slides {
    transform: translateX(-100%);
}

#radio3:checked ~ .slides {
    transform: translateX(-200%);
}

#radio4:checked ~ .slides {
    transform: translateX(-300%);
}